{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Sign Up</h2>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-success" type="submit">Sign up</button>
    </form>

{% endblock %}
<!--
{% for field in form %}
        <p>
            {{field.label_tag}}<br>
            {{field}}
            {% if field.help_text %}
                <small style="color: grey">{{field.help_text}}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{error}}</p>
            {% endfor %}
        </p>
        {% endfor %}
    -->
