{% extends 'blog/base.html' %}
{% load staticfiles %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" media="all">
<script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>  
{% block content %}
    <h1>Change Password</h1>
    <br>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: black; font-size: large;">{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %} 
{% endblock %}