{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <div style="display:inline-block; vertical-align:top;">
            <img src="{{post.author.profile.image.url}}" style="width: 65px; height: 65px; margin-right: 16px; border-radius: 50%; object-fit: cover;"/>
        </div>
        <div class="article-metadata" style="display: inline-block; vertical-align: bottom;">
            <h5 class="text-muted">Author: <a href="{% url 'blog:user_detail' username=post.author.username %}"> {{post.author}}</a></h5>
            <strong class="text-muted">Created: {{ post.created_date}}</strong>
        </div>
        <div class="media-body">
            <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <br>
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>
    </article>
    {% empty %}
        <strong>{{buffer_text}}</strong>
    {% endfor %}
{% endblock %}